<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.meserosapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MesappApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.TipoDocumentoActivity"></activity>
        <activity
            android:name=".ui.TipoEmpleadoActivity"
            android:parentActivityName=".ui.UsarioActivity" />
        <activity
            android:name=".ui.UsarioActivity"
            android:parentActivityName=".ui.login.LoginActivity" />
        <activity android:name=".ui.DialogPagoActivity" />
        <activity
            android:name=".ui.RegistroActivity"
            android:parentActivityName=".ui.TipoEmpleadoActivity" />
        <activity
            android:name=".ui.PagoActivity"
            android:parentActivityName=".ui.MenuActivity" />
        <activity
            android:name=".ui.MenuActivity"
            android:parentActivityName=".ui.login.LoginActivity" />
        <activity
            android:name=".ui.ProductoActivity"
            android:parentActivityName=".ui.TipoProductoActivity" />
        <activity
            android:name=".ui.TipoProductoActivity"
            android:parentActivityName=".ui.PedidoActivity" />
        <activity
            android:name=".ui.DetallePedidoActivity"
            android:parentActivityName=".ui.PedidoActivity" />
        <activity
            android:name=".ui.PedidoActivity"
            android:parentActivityName=".ui.MesasActivity" />
        <activity
            android:name=".ui.MesasActivity"
            android:parentActivityName=".ui.MenuActivity" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/login_activity_title"
            android:parentActivityName=".ui.MainActivity" />
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>