<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.meserosapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DialogPagoActivity"
           ></activity>
        <activity
            android:name=".RegistroActivity"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".PagoActivity"
            android:parentActivityName=".MenuActivity" />
        <activity
            android:name=".MenuActivity"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".ProductoActivity"
            android:parentActivityName=".TipoProductoActivity" />
        <activity
            android:name=".TipoProductoActivity"
            android:parentActivityName=".PedidoActivity" />
        <activity
            android:name=".DetallePedidoActivity"
            android:parentActivityName=".PedidoActivity" />
        <activity
            android:name=".PedidoActivity"
            android:parentActivityName=".MesasActivity" />
        <activity
            android:name=".MesasActivity"
            android:parentActivityName=".MenuActivity" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/login_activity_title"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>